* {
  outline: none;
}

/* Fonts */
@font-face {
  font-family: "Rawline";
  src: url("../../../app/public/fonts/rawline-400.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Rawline", "Times New Roman", sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: black;
}
